* {
  box-sizing: border-box;
}
body {
  background-color: #222124;
  color: white;
}

#root {
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}


/* -------------------------------------------------------------------------- */
/*                           MOBILE FORMATTING                                */
/* -------------------------------------------------------------------------- */
@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
}


