* {
  box-sizing: border-box;
}
body {
  background-color: #B8C5C4;
}

#root {
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
  text-align: center;
  width: inherit;
  height: inherit;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* DESKTOP FORMATTING */
@media only screen and (min-width: 700px) {
  .navigation {
    flex-direction: row;
  }
}


/* -------------------------------------------------------------------------- */
/*                           MOBILE FORMATTING                                */
/* -------------------------------------------------------------------------- */
@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
}


