
/* ------------------------ Project Archive Page ---------------------------- */
@media only screen and (max-width: 600px) {
    .project-archive {
        display: flex;
        flex-direction: column;

        margin-top: 60px;
        gap: 10px;
    }

    .project-list-item {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        
        margin-left: 10px;
        margin-right: 10px;

        background-color: #5B6065;

        border-radius: 10px;

        gap: 5px;
    }
    
    .noProjectoMr {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1920px) {
    .project-archive {
        display: flex;
        width: 100vw;
        height: 100vh;
        background-color: #413f45;
        padding: 20px;
        align-content: flex-start;
        justify-content: left;
        flex-wrap: wrap;
        gap: 30px;

        
    }

    .project-list-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-style: solid;
        justify-content: center;

        width: 150px;
        height: 150px;
    }

    .project-name {
        text-align: center;
    }
    .noProjectoMr {
        display: flex;
        color: rgb(160, 160, 160);
    }
}