/* ----------------------------- Home Page -------------------------------- */

@media only screen and (max-width: 600px) {
    .home-page {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .bio {
        display: flex;
        flex-direction: row;
        background-color: #5B6065;

        width: 95%;
        border-radius: 10px;
        margin-top: 10px;
    }

    .avatar-icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .bio p {
        color: #FFFFFF;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1920px) {
    .home-page {
        display: flex;
        flex-direction: column;
    }

    .home-header {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-left: 50px;

        justify-content: space-between;
        gap: 10px;
    }

    .bio {
        display: flex;
        flex-direction: column;
        margin-top: 40vh;
    }

    .home-nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    a {
        color: white;
        text-decoration: none;
    }
}