
/* ------------------------ Project Archive Page ---------------------------- */
@media only screen and (max-width: 600px) {
    .project-archive {
        display: flex;
        width: 100vw;
        min-height: 100vh;
        background-color: #413f45;
        padding: 20px;
        align-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 30px;
    }

    .project-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;

        flex-wrap: wrap;
        gap: 30px;
    }

    .project-list-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-style: solid;

        width: 100px;
        height: 100px;
    }

    .project-name {
        text-align: center;
    }
    
    .noProjectoMr {
        display: flex;

        color: rgb(160, 160, 160);
    }
}

@media only screen and (min-width: 601px) and (max-width: 1920px) {
    .project-archive {
        display: flex;
        width: 100vw;
        min-height: 100vh;
        background-color: #413f45;
        padding: 20px;
        align-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 30px;
    }

    .project-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;

        flex-wrap: wrap;
        gap: 30px;
    }

    .project-list-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-style: solid;
        justify-content: center;

        width: 150px;
        height: 150px;
    }

    .project-name {
        text-align: center;
    }
    .noProjectoMr {
        display: flex;
        color: rgb(160, 160, 160);
    }
}